#fundoum{
    background:url(../image/quaseterminado.png);
    margin: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
header {
    color:rgb(214, 189, 189);
    background-color: rgb(59, 47, 41); 
    font-size: 120%;
    height: 9%;
    width: 100%;
    position: fixed;
    z-index: 10;
}
a{
    text-decoration: none;
}
#logo1{
    width: 6%;
    position: absolute;
    padding-left: 5%;
}
#menu{
    float: right;
    margin-right: 5%;
    margin-top:0px;
}
li{
    float:left;
    padding: 15px 8px 7px 0px;
}
#menu:hover{
    margin-top: 0.1%;
    background-color: rgb(124, 90, 77);
}
li:hover{
    background-color: violet;
}

#titulo1{
    font-size: 450%;
    text-align:center;
    color: white;
    padding-top: 4%;
}

.paragrafo1{
    text-align:center;
    font-size:200%;
    color: white;
    padding:1%; 
}

#primeirobotao{
    background-position: 1%;
    border:3mm solid green;
    border-style:outset;
    border-radius: 20%;
    box-shadow:inset 0 0 1em blue, 0 0 1em orange;
    text-align:center;
    padding: 0.2% 0.1% 0.2% 0.1%;
    margin-top:03%;
    margin-left: 35.3%;
    margin-right: 35.3%;
 }

 #textodobotao{
    text-decoration: none;
    color: orange;
    font-size:140%;
 }

 #textodois{
     margin-top:05.5%;
     margin-left: 20%;
     margin-right: 20%;
     text-align: center;
     font-size:200%;
     color: white;
 }

 #segundobotao{
    margin-left: 45%;
    margin-right: 44.5%;
    margin-top: 04.6%;
    font-size:140%;
    background-position: 1%;
    border:3mm solid green;
    box-shadow:inset 0 0 1em blue, 0 0 1em orange;
    border-style:outset;
    border-radius: 10%;
    text-align:center;
    padding: 0.4% 0.4% 0.4% 0.4%;
 }

#textodobotaodois{
    text-decoration: none;
    color: orange;
    text-align: center;
}

#paragrafo2{
    Font-size:255%;
}
section{
    padding:2%;
    float: left;
    
}

#section1{
    color: #00FF00;
    background-color: #9d4e11;
   }

#textoaolado{
    text-align: justify;
    color:white;
    font-size:120%;
    margin-top: 5%;
}
#video{
        float: left;
        padding: 0.4%;
        position: relative; 
        text-align: center;   
}

#section2{
    background-color:#dcd9c9;
    padding-top: 5%;
    float: left;
    position: relative; 
}
.titulos2{
    font-size:170%;
    float: center;
    position: relative;
    color: #0c5c0c;
}
.icones{
    width: 30%;
    margin-top: 10%;
}
.subtitulos1{
    font-size:150%;
    float: center;
    color: white;
    position: relative;  
    margin-top: 7%;  
}
.explicacao{
    font-size:120%;
    text-justify: auto;
    float: center;
    margin-top: 10%;
    color: blue;
}    
.explicacao{
    font-size:120%;
    text-justify: auto;
    float: center;
    margin-top: 10%;
    color:black;
}

.coluna{
        float: left;
        padding: 0 5%;
        position: relative; 
}
.quatro{
    width: 15%;
}
.tres{
    width: 23%;
    padding: 0 1%;
}
.tres1{
    width: 29%;
    padding: 0 2%;
    float: left;
}
.img{
    width: 50%;
    height: 100px;
    margin-top: 05%;
}
.img1{
    width: 15%;
    float:right;
    text-align: right;
}
#section3{
    background-color: #b7410e;
    float: left;
}
.titulos3{
    font-size:170%;
    float: center;
    position: relative;
    margin-bottom: 3%;
    color: #50c878;
}
.explicacao1{
    text-align: justify;
    color: black;
    font-size:120%;
    margin-top: 1%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}  
#section4{
    background-color:#dcd9c9 ;
}
footer{
    background-color: orange;
    width: 100%;
    float: left;
    color:#031088
}